<h2>PIF</h2>
<% content_for :navbar do %>
  <div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
    </ul>
    </nav>
  </div>
<% end %>
<div>
  <table>
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>DOB</th>
        <th>Gender</th>
      </tr>
    </thead>
  </table>
</div>